#Data structure

1. What are data structures, and why are they important?
    - Data structure is the way of organizing, storing data so that it can be accessed and manipulated efficiently.
    - eg. string, list, tuples are the types of data structure.

2.  Explain the difference between mutable and immutable data types with examples.
    - a. Mutable data type =
          - These are the data type whose value can be changed after creation.
          - They retain same memory location even after creation.
          - They are memory efficient, as one can alter it.
          - for eg. list, dictionary,sets
    - Immutable  data type =
          - These are the data types whose values cannot be changed after creation.
          - it create new memory location after creation.
          - In this data remain consistent and fixed.
          - for eg. strings, tuples.

3. What are the main differences between lists and tuples in Python?
    - Lists =
         - lists are ordered collection of data that can be of any data type.
         - It can store heterogenous data.
         - It is mutable means we can alter list after creation.
         - syntax : l= [1,3.6,'akshay',8=9i, true]
    - Tuples =
         - Tuples are ordered collection of elements which can be of any data type.
         - It is heterogenous data.
         - Tuples are immutable means we can not change the elements in the tuple after creation.
         - syntax : t= ('akshay', 9,11,6.78, 8=6j)

4. Describe how dictionaries store data.
    -   Dictionaries stores data in the form of pair of keys and values. Keys are unique, immutable values which can not be change. Dictionaries are unordered but in python3.7 version you can iterate the elements in dictionary.
    for eg. d= {"Name":"shreya","gender":"female"}
   here, name and gender are keys which hold values shreya and female respectively.

5. Why might you use a set instead of a list in Python?
    - Set is the unordered and unique collection of data. It doesn't allow any duplicate element in the set. But on the other hand  in the list duplicate data may be present which may create confusion while executing the code or may not give expected output. to avoid such problem set is the best way to use if the data is huge and to avoid repeated data.

6.  What is a string in Python, and how is it different from a list?
     - String is sequence of character, where character is a single unit of text which is helpful to represent and manipulate data. Characters are represented using numerical values.
     for eg. string= 'abc'
     - List is the collection if unoredered heterogenous data it may contain string, integer, float, list etc. list is mutable means we can change the elements inside the list after creation.

7. How do tuples ensure data integrity in Python?
    - Tuples are ordered collection of data which are heterogenous in nature.
    - Tuples are immutable means we can not change or modify tuples after creating. thats why they show data integrity in python more than any other data strucutre.

8. What is a hash table, and how does it relate to dictionaries in Python?
    - Hash tables are a type of data structure in which the address or the index value of the data element is generated from a hash function. Hash table stores key-value pairs but the key is generated through a hashing function.
    - In Python, the Dictionary data types represent the implementation of hash tables. The keys of the dictionary are hashable i.e. the are generated by hashing function which generates unique result for each unique value supplied to the hash function.

9. Can lists contain different data types in Python?
    - Yes, list is the collection of heterogenous data types. It can contain strings, integers, float, booleans etc.

10. Explain why strings are immutable in Python.
     - Strings in Python are immutable which means they can not be changed after they are created.The immutability of Python string helps in safety and integrity of data. Immutable objects cannot change their value,thats why Python can optimize memory usage.

11. What advantages do dictionaries offer over lists for certain tasks?
     - A dictionary, refers to an unordered collection of the data values that we use for storing the data values. Dictionary is capable of holding the key:value pair.
     - The lists don't always need to be homogenous, A single list may consist of various DataTypes. The Lists are always mutable. Thus, we can alter it even after we create it.

12.  Describe a scenario where using a tuple would be preferable over a list.
     - List is Mutable and Tuple is not. Tuples are faster because of read only nature. The list is better for performing operations, such as insertion and deletion but  Tuple is appropriate for accessing the elements. Tuples are immutable, suitable option for storing information that shouldn't change.

13. How do sets handle duplicate values in Python?
     - A set is a collection which is unordered, unchangeable, and unindexed which do not allow duplicate values.
     for eg. s= {1,8,'apple',1,'banana','apple'}
     here, set ignores duplicate value and only store unique values like
     s= {1,8,'apple','banana'}  

15.  Can you modify the elements of a tuple? Explain why or why not.
      - Tuples are unchangeable, or immutable as it also is called. But you can convert the tuple into a list, change the list, and convert the list back into a tuple.

16. What is a nested dictionary, and give an example of its use case.
     - A dictionary can contain dictionaries, this is called nested dictionaries.
     - a= {"Name":"priya","age":28}
     b= {"Name":"rahul","age":25}
     customer = {'c1':a,'c2':b}    

18. In what situations are lists preferred over dictionaries?
    - Lists are ordered collections of items that can be of different data types, accessed by their index. Dictionaries, on the other hand, are collections of key-value pairs. The keys must be immutable and unique. If you need an ordered collection, lists must be your preference.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - In python, dictionaries are un-ordered. If we want to collect a set of objects in order, we can access them through their index.    

20. Explain the difference between a list and a dictionary in terms of data retrieval.
     - Python provides multiple approaches to access list elements, each with unique characteristics and use cases.
     list[index] or list.get() or list[start:end] are the multiple ways to access the elements present in the lists.
     - common method to access the data in dictionary is by using the key name. get method is also use.
     d.get(key)

# Practical Questions

In [1]:
#1. Write a code to create a string with your name and print it.
name= 'shruti'
print(name)

shruti

In [2]:
#2. Write a code to find the length of the string "Hello World".
s= 'Hello World'
len(s)

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
a= 'Python Programming'
a[0:3]

'Pyt'

In [4]:
#4.Write a code to convert the string "hello" to uppercase.
b='hello'
b.upper()

'HELLO'

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string='I like apple'
string.replace('apple','orange')

'I like orange'

In [8]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
l=[]
for i in range(1,6):
  l.append(i)
print(l)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
list= [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [10]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
l= [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [11]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
l1=['a','b','c','d']
l1[1]

'b'

In [12]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
a=[10,20,30,40,50]
a.reverse()
print(a)

[50, 40, 30, 20, 10]

In [13]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
t=(10,20,30)
print(t)

(10, 20, 30)

In [14]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
t1=('apple','banana','cherry')
t1[0]

'apple'

In [16]:
#13.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
tp=(1,2,3,2,4,2)
tp.count(2)

3

In [17]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tp= ('dog', 'cat', 'rabbit')
tp.index('cat')

1

In [19]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
t= ('apple','orange','banana')
'banana' in t

True

In [24]:
#16.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
s={1}
for i in range(1,6):
  s.add(i)
print(s)

{1, 2, 3, 4, 5}

In [25]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
s1={1,2,3,4}
s1.add(6)
print(s1)

{1, 2, 3, 4, 6}

In [27]:
#18.Write a code to create a tuple with the elements 10, 20, 30 and print it.
t=(10,20,30)
print(t)

(10, 20, 30)